:root{
    --cor-de-fundo: #F5F5F5F5;
    --cor-de-fundo-receitas: #e5e5e5e5;
    --cor-de-link: #808080;
    --cor-ativo: #333333;
    --cor-titulo-banner: #fdfdfd;
    --cor-vinho: #8d0606;
    --cor-vinho-escuro: #620404;
    --cor-cinza: #595959;
    --cor-cinza-claro: #bfbfbf;
    --cor-do-cabecalho: #F9F9F9F9;
}